
.wrapper{
    max-width: 100%;
}
.blue_line{
    background-color: rgb(10, 10, 90);
    height: 15px;
}
.title{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.title_inis{
    font: 500 42px/100% 'Open Sans', sans-serif;
    color: rgb(10, 10, 90);
}
.title_img{
    height: 70px;
}
nav{
    background-color: rgba(83, 139, 204, 0.507);
}
nav ul{
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0;
}
nav ul li a{
    color: rgb(10, 10, 90);
    font: 500 16px/100% 'Open Sans', sans-serif;
}
.main-info img{
    width: 100%;
}
.text-blocks{
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 0;
}
.text-block{
    max-width: 460px;
    padding: 15px 30px;
    border: solid 2px rgb(10, 10, 90);
    border-radius: 10px;
    margin-bottom: 10px;
}
.text-block h3{
    text-align: center;
    font: 600 16px/100% 'Open Sans', sans-serif;
    color: rgb(10, 10, 90);
}
.text-block p{
    font: 500 14px/100% 'Open Sans', sans-serif;
    color: rgb(126, 126, 126);
}
footer{
    background-color: rgb(10, 10, 90);
   
}

footer ul{
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0;
}
footer ul li a{
    color:white;
    font: 500 14px/100% 'Open Sans', sans-serif;
}



/*         МАЙКИ         МАЙКИ           МАЙКИ         */



.t-shirts{
    max-width: 80%;
    margin: 0 auto;
}
.t-shirts h3{
    font: 300 42px/100% 'Open Sans', sans-serif;
    color: rgb(10, 10, 90);
    padding-top: 15px;
}
.t-shirts_blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.t-shirts_block{
    max-width: 305px;
    border: solid 2px rgb(10, 10, 90);
    border-radius: 15px;
    margin: 15px 0;
}
.t-shirts_block img{
    width: 300px;
    border-radius: 15px;
}
.t-shirts_title{
    font: 300 26px/100% 'Open Sans', sans-serif;
    color: rgb(10, 10, 90);
    padding: 10px 0;
    margin-left: 10px;
}
.t-shirts_text{
    font: 12px/100% 'Open Sans', sans-serif;
    color: rgb(10, 10, 90);
    padding:0 0 10px 10px;
} 
.buttons-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 10px;
}
.t-shirts_block a{
    font: 16px/100% 'Open Sans', sans-serif;
    color: #fff;
    padding: 5px;
    background-color: rgb(10, 10, 90);
    border-radius: 5px;
}
.quickview_block{
    background-color: rgba(10, 10, 90, 0.507);
}
.quickview{
    max-width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0;
}
.quickview img{
    width: 150px;
}
.quickview_text-block{
    margin-left: 10px;
}
.quickview_name{
    font: 26px/100% 'Open Sans', sans-serif;
    color: rgb(10, 10, 90);
    padding-bottom: 5px;
}
.quickview_price{
    font: 20px/100% 'Open Sans', sans-serif;
    color: rgb(10, 10, 90);
    padding-bottom: 35px;
}
.quickview_text-block button{
    font: 16px/100% 'Open Sans', sans-serif;
    color: #fff;
    padding: 5px;
    background-color: rgb(10, 10, 90);
    border-radius: 5px;
}
.quickview_block{
    display: none;
}
/* .car-button .quickview_block{
    display: block;
} */

/*    detailes   detailes   detailes  */
.product{
    max-width: 80%;
    margin: 0 auto;
}
.product h3{
    font: 300 26px/100% 'Open Sans', sans-serif;
    color: rgb(10, 10, 90);
    padding: 10px 0;
    margin: 20px 0 10px;
}
.product_main-block{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.product_main-block img{
    width: 300px;
}
.details-grid{
    max-width: 90%;
    margin: 0 auto;    
}
.details-grid-item{
    display: flex;
    flex-direction: row;
}
.detailes{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.details-grid h3{
    font: 300 42px/100% 'Open Sans', sans-serif;
}
.detailes_price{
    font: 600 26px/100% 'Open Sans', sans-serif;
    color: rgb(10, 10, 90);
    padding: 10px 0;
}
.detailes_text{
    font: 600 14px/100% 'Open Sans', sans-serif;
    color: rgb(10, 10, 90);
    padding: 10px 0;
}
.items{
    display: flex;
    flex-direction: row;
    align-items: center;
    font: 300 16px/100% 'Open Sans', sans-serif;
}
.items p{
    color: gray;
    padding-right: 5px;
}
.items:first-child a{
    color: #fff;
    background-color: rgb(10, 10, 90);
    border: 3px solid rgb(10, 10, 90);
    border-radius: 5px;
    padding: 2px;
    margin-right: 5px;
}
.items{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    font: 300 16px/100% 'Open Sans', sans-serif;
}
.items p{
    color: gray;
    padding-right: 5px;
}
.items a{
    color: rgb(10, 10, 90);
    border: 3px solid rgb(10, 10, 90);
    border-radius: 5px;
    padding: 2px;
    margin-right: 5px;
}